APP_TIMEZONE=Asia/Seoul

APP_PORT=8080
MYSQL_PORT=3306
REDIS_PORT=6379

SPRING_PROFILE=prod
JPA_DDL_AUTO=validate

DB_ROOT_PASSWORD=change-this-root-password
DB_NAME=dadum
DB_USER=dadum
DB_PASSWORD=change-this-db-password

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/dadum?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
SPRING_DATASOURCE_USERNAME=dadum
SPRING_DATASOURCE_PASSWORD=change-this-db-password
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

JWT_SECRET=change-this-to-at-least-32-characters
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=3600
JWT_REFRESH_TOKEN_EXPIRATION_SECONDS=1209600
